@page
@model pharmacy.Pages.Medicines.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Medicine</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Medicine.CompanyId" class="control-label"></label>
                <select asp-for="Medicine.CompanyId" class ="form-control" asp-items="ViewBag.CompanyId" aria-required="true"></select>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Medicine.Name" class="control-label"></label>
                <input asp-for="Medicine.Name" class="form-control" aria-required="true"/>
                <span asp-validation-for="Medicine.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Medicine.RetailPrice" class="control-label"></label>
                <input asp-for="Medicine.RetailPrice" class="form-control" aria-required="true"/>
                <span asp-validation-for="Medicine.RetailPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine.imageSrc" class="control-label"></label>
                <input asp-for="Medicine.imageSrc" class="form-control" />
                <span asp-validation-for="Medicine.imageSrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
