@page
@model pharmacy.Pages.Medicines.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Medicine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Medicine.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Medicine.CompanyId" class="control-label"></label>
                <select asp-for="Medicine.CompanyId" class="form-control" asp-items="ViewBag.CompanyId"
                    aria-required="true"></select>
                <span asp-validation-for="Medicine.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Medicine.Name" class="control-label"></label>
                <input asp-for="Medicine.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Medicine.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Medicine.RetailPrice" class="control-label"></label>
                <input asp-for="Medicine.RetailPrice" class="form-control" aria-required="true" />
                <span asp-validation-for="Medicine.RetailPrice" class="text-danger"></span>
            </div>
            <!--
        This are is for checking whether to use url mode or file upload mode.
-->
            <div class="mb-3">
                <div class="form-label">
                    Image Source
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="imageMode" id="modeUrl" value="url">
                    <label class="form-check-label" for="modeUrl">Image URL</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="imageMode" id="modeFile" value="file" checked>
                    <label class="form-check-label" for="modeFile">Upload File</label>
                </div>
            </div>
            <!-- --------------------------------         Section finishes -->
            <input type="hidden" asp-for="Medicine.imageSrc" />
            <div id="urlForm" class="form-group" style="display:none;">
                <label asp-for="Medicine.imageSrc" class="control-label">Image source</label>
                <div class="mb-3">
                    <input asp-for="ImageUrl" placeholder="https://example.com/image.jpg" class="form-control">
                </div>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div id="fileForm" class="form-group">
                <label class="control-label">File upload</label>
                <div class="mb-3"">
                  <input type="file" asp-for="ImageFile" class="form-control" accept="image/*">
                </div>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
<script src="~/js/Medicine.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
