@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<h4>Course Information</h4>
<dl class="row">
    <dt class="col-sm-3">Course</dt>
    <dd class="col-sm-9">Web Development</dd>
    <dt class="col-sm-3">Subject</dt>
    <dd class="col-sm-9">Web Development</dd>
    <dt class="col-sm-3">Academic Year</dt>
    <dd class="col-sm-9">2025/2026</dd>
</dl>

<h4>Authors</h4>
<div class = "row">
<p class = "mb-1">Jaber Tebyan</p>
<p>28899</p>
</div>

<p class="mb-3">
Aside from using SignalR, aspnet-codegenerator meaning dotnet core libraries + bootstrap no external library to this was used.
</p>

<h4>Initial User Credentials</h4>
<table class="table table-bordered" style="max-width: 500px;">
    <thead>
        <tr>
            <th>Role</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Customer</td>
            <td>customer1@test.com</td>
            <td>Password1</td>
        </tr>
        <tr>
            <td>Staff</td>
            <td>staff1@test.com</td>
            <td>Password1</td>
        </tr>
    </tbody>

  <p class="mb-5">
        There exists 10 staff accounts and 10 customer accounts. for i in (1,10): every account's email is [staff|customer]i@test.com
    As for the passwords of the staff accounts, they are all "Password1" and the passwords of the customer accounts are "Password1".
  </p>

</table>
